* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #393333;
    overflow-x: hidden;
}

body p {
    font-family: lato, sans-serif;
}

header {
    display: none;
}

#apresentação {
    background-color: #000000;
    width: 340px auto;
    height: 695px;
    margin: 0 auto;
}

.quemSou {
    margin: 0px 15px 10px 15px;
    font-family: lato, sans-serif;
    height: 214px;
}

.quemSou input {
    background-color: #D32626;
    border: none;
    color: white;
    height: 25px;
    width: 150px;
    position: absolute;
    left: 74px;
    border-radius: 5px;

}

.descrição1,
.descrição0,
.descrição2 {
    padding: 15px;
}

.descrição0 {
    color: #D32626;
    margin: 0px 15px;
    padding: 15px;

}

.descrição1 {
    color: #fff;
    font-size: 29px;
    width: 350px auto;
    max-width: 350px;
    font-family: Koulen, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 15px;

}

.descrição2 {
    color: white;
    padding: 0px 15px 15px 0px;
    font-size: 11px;
    max-width: 290px;
    width: 290px auto;
    font-family: lato, sans-serif;
    font-weight: 400;
}

.sobreMimDesc {
    color: white;
    font-size: 12px;
    width: 150px;
    height: 60px;

}

#FotoDesenvolvedor {
    position: absolute;
    width: 120px;
    height: auto;
    top: 81px;
    right: 0;
}

hr {
    border: none;
    height: 0.2px;
    background-color: #372C2C;
    margin: 19px 0;
}

.sobreMim {
    color: #fff;
    width: 350px;
    font-family: Koulen, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 15px;
    height: 240px;
}

.sobreMimDescH1 {
    margin: 0px 15px 10px 15px;
    font-family: Koulen, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.sobreMimDesc {
    color: white;
    padding: 0px 15px 15px 0px;
    font-size: 11px;
    width: 290px;
    height: 180px;
    font-family: lato, sans-serif;
    font-weight: 400;
}

#h1Habilidades {
    color: #fff;
    text-align: center;
    font-family: Koulen, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Habilidades {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    height: 500px;
    margin-left: 15px;
}

#scrollBar {
    background-color: #000000;
    width: 253px;
    height: 120px;
    margin: 10px 0 10px 10px;
    margin-bottom: 55px;
    padding: 15px 0 15px 15px;
    border-radius: 25px 0 0 25px;
}

#scrollOrigin {
    background-color: #2D2A2A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    border-radius: 13px 0 0 13px;
    font-family: lato, sans-serif;
}

.image {
    width: 45px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
}

.image img {
    width: 98px;
    height: 96px;

}

.descSkill,
.descSkill2 {
    font-size: 12px;
    width: 150px;
}

.descSkill2 {
    font-size: 9px;
}

.textDescSkill {
    display: flex;
    flex-direction: column;
}

#Projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
    perspective: 1000px;
    margin-bottom: 95px;
}

#Projetos h1 {
    color: #fff;
    text-align: center;
    font-family: Koulen, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: inherit;
}

#ftLogin {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#ftLampada {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#ftToDo {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#card {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease, box-shadow 0.4s ease;
    border-radius: 25px;

}

#card:hover {
    transform: rotateY(180deg);
    transition: transform 0.6s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 40px 10px rgba(4, 3, 54, 0.8);
    border-radius: 25px;
    height: 119px;
}

#cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

#cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    transform: rotateY(180deg);
}

#textDescSkill {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#copyRight {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 9px;

}

#footerFinal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
}

footer h1 {
    background-color: #000000;
    color: #fff;
    height: 100px;
    text-align: center;
    font-family: lato, sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    border-bottom: 2px solid #fff;
}

footer button {
    background-color: #D32626;
    border: #fff;
    border-radius: 5px;
    width: 105px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 18px;
    flex-direction: row;
}

#btnContato {
    height: 35px;
    width: 75px;
    color: white;
}

#btnRedes button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    gap: 15px;
    margin: 0;
}

.reveal {
    opacity: 0;
    transform: translatex(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
    opacity: 1;
    transform: translatex(0);
}